* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --white: #fff;
    --bg: #E5E5E5;
    --GR: 'GR', sans-serif;
    --GB: 'GB', sans-serif;
}

body {
    font-family: var(--GR);
    color: var(--white);
    background: #e5e5e5;
}


.container {
    max-width: 1230px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.sponsor-img img{
    max-width: 1008px;
    width: 100%;
   margin-top: 140px;
   padding: 0 20px;
}